@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@fontsource/inter/files/inter-latin-400-normal.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("@fontsource/montserrat/files/montserrat-latin-700-normal.woff2") format("woff2");
}
